{% extends 'base.html' %}

{% block body %}
    <h1>{{article.title}}</h1>
    <p>{{article.content}}</p>
    <p>{{article.user}}</p>
    <hr>
    <form action="{% url 'articles:comment_create' article_id=article.id %}" method="POST">
        {% csrf_token %}
        {{form}}
        <input type="submit">
    </form>

    <hr>
    {% for comment in article.comment_set.all %}
        <li>
            {{comment.user}} - {{comment.content}}
            <form action="{% url 'articles:comment_delete' article_id=article.id id=comment.id %}" method="POST">
                {% csrf_token %}
                <input type="submit" value="delete">
            </form>
        </li>
    {% endfor %}

{% endblock %}